body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

[class|=confetti] {
  position: absolute;
}

.confetti-0 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 93%;
  opacity: 0.6739682944;
  transform: rotate(7.8238626012deg);
  animation: drop-0 4.2382711274s 0.3375154059s infinite;
}

@keyframes drop-0 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-1 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 97%;
  opacity: 0.8601250489;
  transform: rotate(70.5244826979deg);
  animation: drop-1 4.8112577953s 0.0397797784s infinite;
}

@keyframes drop-1 {
  100% {
    top: 110%;
    left: 112%;
  }
}
.confetti-2 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 24%;
  opacity: 1.0093595621;
  transform: rotate(29.5185549939deg);
  animation: drop-2 4.5440682312s 0.3184354073s infinite;
}

@keyframes drop-2 {
  100% {
    top: 110%;
    left: 33%;
  }
}
.confetti-3 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 9%;
  opacity: 1.3666883416;
  transform: rotate(165.1348212588deg);
  animation: drop-3 4.5520616946s 0.0357829263s infinite;
}

@keyframes drop-3 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-4 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 45%;
  opacity: 0.8264889298;
  transform: rotate(235.4017056845deg);
  animation: drop-4 4.4351524839s 0.3720997084s infinite;
}

@keyframes drop-4 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-5 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 50%;
  opacity: 1.3229936415;
  transform: rotate(290.9054571481deg);
  animation: drop-5 4.6915729854s 0.1228362772s infinite;
}

@keyframes drop-5 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-6 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 19%;
  opacity: 0.5273248388;
  transform: rotate(195.0239316257deg);
  animation: drop-6 4.9595268341s 0.3036711452s infinite;
}

@keyframes drop-6 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-7 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 74%;
  opacity: 1.219495773;
  transform: rotate(240.8290069983deg);
  animation: drop-7 4.834642026s 0.4049669622s infinite;
}

@keyframes drop-7 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-8 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 91%;
  opacity: 0.5764661129;
  transform: rotate(248.1575897606deg);
  animation: drop-8 4.8176591931s 0.9920408264s infinite;
}

@keyframes drop-8 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.confetti-9 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 7%;
  opacity: 0.855852342;
  transform: rotate(185.5154070165deg);
  animation: drop-9 4.4238226062s 0.7050135564s infinite;
}

@keyframes drop-9 {
  100% {
    top: 110%;
    left: 8%;
  }
}
.confetti-10 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 27%;
  opacity: 1.053056011;
  transform: rotate(162.6972598083deg);
  animation: drop-10 4.047556513s 0.7535334525s infinite;
}

@keyframes drop-10 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-11 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 13%;
  opacity: 0.6430778149;
  transform: rotate(173.3566845965deg);
  animation: drop-11 4.3584878464s 0.2245276292s infinite;
}

@keyframes drop-11 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-12 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 70%;
  opacity: 1.4199543698;
  transform: rotate(96.6230296953deg);
  animation: drop-12 4.0731964994s 0.7771491487s infinite;
}

@keyframes drop-12 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-13 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 45%;
  opacity: 1.0718251231;
  transform: rotate(91.5835734235deg);
  animation: drop-13 4.4609703595s 0.3155360706s infinite;
}

@keyframes drop-13 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-14 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 51%;
  opacity: 0.7485999167;
  transform: rotate(1.8636669847deg);
  animation: drop-14 4.3320850637s 0.2322136681s infinite;
}

@keyframes drop-14 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-15 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 55%;
  opacity: 0.8820338938;
  transform: rotate(330.5412088384deg);
  animation: drop-15 4.94808298s 0.66840049s infinite;
}

@keyframes drop-15 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-16 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 12%;
  opacity: 1.1863613627;
  transform: rotate(26.1702411414deg);
  animation: drop-16 4.4472173226s 0.9953056118s infinite;
}

@keyframes drop-16 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-17 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 10%;
  opacity: 1.1781396529;
  transform: rotate(242.7880527759deg);
  animation: drop-17 4.6730050656s 0.5148548498s infinite;
}

@keyframes drop-17 {
  100% {
    top: 110%;
    left: 13%;
  }
}
.confetti-18 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 70%;
  opacity: 0.7078338666;
  transform: rotate(275.0725796895deg);
  animation: drop-18 4.1570885026s 0.4370705505s infinite;
}

@keyframes drop-18 {
  100% {
    top: 110%;
    left: 82%;
  }
}
.confetti-19 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 48%;
  opacity: 1.4505247411;
  transform: rotate(114.8693614964deg);
  animation: drop-19 4.3246818715s 0.2141918188s infinite;
}

@keyframes drop-19 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-20 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 31%;
  opacity: 0.6157575241;
  transform: rotate(310.1226751001deg);
  animation: drop-20 4.9216052493s 0.4509889204s infinite;
}

@keyframes drop-20 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-21 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 14%;
  opacity: 1.2194426278;
  transform: rotate(355.0721861868deg);
  animation: drop-21 4.5402863985s 0.4634661677s infinite;
}

@keyframes drop-21 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-22 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 73%;
  opacity: 1.1091810609;
  transform: rotate(232.7360077676deg);
  animation: drop-22 4.3968203496s 0.8193223559s infinite;
}

@keyframes drop-22 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-23 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 53%;
  opacity: 0.9197177903;
  transform: rotate(356.83870533deg);
  animation: drop-23 4.5924206977s 0.6612237409s infinite;
}

@keyframes drop-23 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-24 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 87%;
  opacity: 1.3565487929;
  transform: rotate(192.6899577043deg);
  animation: drop-24 4.2397798119s 0.9340727755s infinite;
}

@keyframes drop-24 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-25 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 87%;
  opacity: 0.9967687906;
  transform: rotate(203.4435456425deg);
  animation: drop-25 4.2571763612s 0.4011169336s infinite;
}

@keyframes drop-25 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-26 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 84%;
  opacity: 1.0516941099;
  transform: rotate(100.6614559192deg);
  animation: drop-26 4.5610246981s 0.6519902269s infinite;
}

@keyframes drop-26 {
  100% {
    top: 110%;
    left: 99%;
  }
}
.confetti-27 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 50%;
  opacity: 1.3967599099;
  transform: rotate(228.4843228218deg);
  animation: drop-27 4.399517075s 0.1814790863s infinite;
}

@keyframes drop-27 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-28 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 84%;
  opacity: 1.2623886781;
  transform: rotate(259.0321592315deg);
  animation: drop-28 4.6623878267s 0.6199597787s infinite;
}

@keyframes drop-28 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-29 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 7%;
  opacity: 0.9937200654;
  transform: rotate(306.2049966863deg);
  animation: drop-29 4.5550043778s 0.5554091751s infinite;
}

@keyframes drop-29 {
  100% {
    top: 110%;
    left: 13%;
  }
}
.confetti-30 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 28%;
  opacity: 1.2752960734;
  transform: rotate(254.6369388067deg);
  animation: drop-30 4.1988898821s 0.7677359895s infinite;
}

@keyframes drop-30 {
  100% {
    top: 110%;
    left: 40%;
  }
}
.confetti-31 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 2%;
  opacity: 1.0446375999;
  transform: rotate(65.738348476deg);
  animation: drop-31 4.0254058406s 0.7517880091s infinite;
}

@keyframes drop-31 {
  100% {
    top: 110%;
    left: 13%;
  }
}
.confetti-32 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 58%;
  opacity: 1.2126699934;
  transform: rotate(236.7745475412deg);
  animation: drop-32 4.4527916227s 0.8123171424s infinite;
}

@keyframes drop-32 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-33 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 78%;
  opacity: 1.2685365165;
  transform: rotate(298.9163305681deg);
  animation: drop-33 4.4045830331s 0.2398961254s infinite;
}

@keyframes drop-33 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-34 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 61%;
  opacity: 1.3440195287;
  transform: rotate(123.4788428407deg);
  animation: drop-34 4.4633018939s 0.5605769972s infinite;
}

@keyframes drop-34 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-35 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 43%;
  opacity: 0.8404065159;
  transform: rotate(39.3993446837deg);
  animation: drop-35 4.1237492955s 0.4525929021s infinite;
}

@keyframes drop-35 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.confetti-36 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 11%;
  opacity: 1.3431314382;
  transform: rotate(345.3557105614deg);
  animation: drop-36 4.9459304588s 0.510016861s infinite;
}

@keyframes drop-36 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-37 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 52%;
  opacity: 0.9140600889;
  transform: rotate(98.3398381552deg);
  animation: drop-37 4.1478962944s 0.715683918s infinite;
}

@keyframes drop-37 {
  100% {
    top: 110%;
    left: 63%;
  }
}
.confetti-38 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 87%;
  opacity: 1.2805285128;
  transform: rotate(237.0784810074deg);
  animation: drop-38 4.2299309175s 0.7433685269s infinite;
}

@keyframes drop-38 {
  100% {
    top: 110%;
    left: 101%;
  }
}
.confetti-39 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 31%;
  opacity: 0.6098127537;
  transform: rotate(337.9783555011deg);
  animation: drop-39 4.3018381153s 0.5601505276s infinite;
}

@keyframes drop-39 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-40 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 55%;
  opacity: 1.4040544136;
  transform: rotate(352.798432575deg);
  animation: drop-40 4.9236403638s 0.0367148071s infinite;
}

@keyframes drop-40 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-41 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 85%;
  opacity: 0.9528043147;
  transform: rotate(220.4726171512deg);
  animation: drop-41 4.9005599067s 0.9018483891s infinite;
}

@keyframes drop-41 {
  100% {
    top: 110%;
    left: 87%;
  }
}
.confetti-42 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 95%;
  opacity: 1.3666733103;
  transform: rotate(133.9905628695deg);
  animation: drop-42 4.0515359117s 0.8862593996s infinite;
}

@keyframes drop-42 {
  100% {
    top: 110%;
    left: 104%;
  }
}
.confetti-43 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 26%;
  opacity: 0.9499083348;
  transform: rotate(138.6044092631deg);
  animation: drop-43 4.9023520903s 0.9780991356s infinite;
}

@keyframes drop-43 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-44 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 90%;
  opacity: 1.2302081063;
  transform: rotate(58.090120282deg);
  animation: drop-44 4.3884574104s 0.2703615497s infinite;
}

@keyframes drop-44 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-45 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 68%;
  opacity: 1.2676091826;
  transform: rotate(20.6128321745deg);
  animation: drop-45 4.2560116703s 0.4058759402s infinite;
}

@keyframes drop-45 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-46 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 87%;
  opacity: 1.0278539066;
  transform: rotate(284.9438220715deg);
  animation: drop-46 4.9789371151s 0.3585144784s infinite;
}

@keyframes drop-46 {
  100% {
    top: 110%;
    left: 90%;
  }
}
.confetti-47 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 89%;
  opacity: 1.2796364146;
  transform: rotate(248.929447865deg);
  animation: drop-47 4.9599297658s 0.3068755913s infinite;
}

@keyframes drop-47 {
  100% {
    top: 110%;
    left: 93%;
  }
}
.confetti-48 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 71%;
  opacity: 0.5768347943;
  transform: rotate(99.0509135256deg);
  animation: drop-48 4.7910521772s 0.1067088357s infinite;
}

@keyframes drop-48 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-49 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 49%;
  opacity: 0.5350309276;
  transform: rotate(28.4189410332deg);
  animation: drop-49 4.654739944s 0.2707203584s infinite;
}

@keyframes drop-49 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-50 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 83%;
  opacity: 0.6265094913;
  transform: rotate(147.1668205993deg);
  animation: drop-50 4.7046238168s 0.9790915429s infinite;
}

@keyframes drop-50 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-51 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 39%;
  opacity: 1.1251377187;
  transform: rotate(181.6545157562deg);
  animation: drop-51 4.8033094315s 0.7927755744s infinite;
}

@keyframes drop-51 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-52 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 66%;
  opacity: 1.0321872224;
  transform: rotate(213.0575621529deg);
  animation: drop-52 4.6132718936s 0.7143746305s infinite;
}

@keyframes drop-52 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-53 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 38%;
  opacity: 0.6506445355;
  transform: rotate(181.6590598287deg);
  animation: drop-53 4.6677714648s 0.0811956223s infinite;
}

@keyframes drop-53 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-54 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 27%;
  opacity: 1.1433405655;
  transform: rotate(214.8712288518deg);
  animation: drop-54 4.9361063036s 0.6283540538s infinite;
}

@keyframes drop-54 {
  100% {
    top: 110%;
    left: 33%;
  }
}
.confetti-55 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 76%;
  opacity: 1.0685127934;
  transform: rotate(89.3556033185deg);
  animation: drop-55 4.6430549671s 0.5224234008s infinite;
}

@keyframes drop-55 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-56 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 3%;
  opacity: 1.3902163582;
  transform: rotate(329.1392421728deg);
  animation: drop-56 4.0833997969s 0.9929444796s infinite;
}

@keyframes drop-56 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-57 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 74%;
  opacity: 0.9606989233;
  transform: rotate(200.0582796863deg);
  animation: drop-57 4.9185397702s 0.7654311241s infinite;
}

@keyframes drop-57 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-58 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 55%;
  opacity: 1.31218064;
  transform: rotate(197.289935212deg);
  animation: drop-58 4.6733939572s 0.6848068905s infinite;
}

@keyframes drop-58 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-59 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 48%;
  opacity: 1.3259715527;
  transform: rotate(138.5662592503deg);
  animation: drop-59 4.1041737401s 0.6927841648s infinite;
}

@keyframes drop-59 {
  100% {
    top: 110%;
    left: 60%;
  }
}
.confetti-60 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 100%;
  opacity: 0.9318079683;
  transform: rotate(16.9130216397deg);
  animation: drop-60 4.6455541587s 0.7771701141s infinite;
}

@keyframes drop-60 {
  100% {
    top: 110%;
    left: 113%;
  }
}
.confetti-61 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 1%;
  opacity: 1.2299459744;
  transform: rotate(72.3467682058deg);
  animation: drop-61 4.0047288577s 0.1357188304s infinite;
}

@keyframes drop-61 {
  100% {
    top: 110%;
    left: 4%;
  }
}
.confetti-62 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 87%;
  opacity: 0.6930164182;
  transform: rotate(27.1169616079deg);
  animation: drop-62 4.6539474154s 0.0767701452s infinite;
}

@keyframes drop-62 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-63 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 58%;
  opacity: 1.1894311575;
  transform: rotate(200.1664586682deg);
  animation: drop-63 4.2759951914s 0.5832968194s infinite;
}

@keyframes drop-63 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-64 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 78%;
  opacity: 1.3112488689;
  transform: rotate(161.4272299959deg);
  animation: drop-64 4.0634818883s 0.8775035749s infinite;
}

@keyframes drop-64 {
  100% {
    top: 110%;
    left: 93%;
  }
}
.confetti-65 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 35%;
  opacity: 0.8989861257;
  transform: rotate(272.2877468045deg);
  animation: drop-65 4.2274393578s 0.234365076s infinite;
}

@keyframes drop-65 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-66 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 70%;
  opacity: 0.9421286429;
  transform: rotate(202.3163850819deg);
  animation: drop-66 4.2083259577s 0.1725358472s infinite;
}

@keyframes drop-66 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-67 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 24%;
  opacity: 0.784288224;
  transform: rotate(314.7901423997deg);
  animation: drop-67 4.8684683187s 0.4771134237s infinite;
}

@keyframes drop-67 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-68 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 42%;
  opacity: 1.3775264537;
  transform: rotate(170.9971311884deg);
  animation: drop-68 4.5352331475s 0.4500386136s infinite;
}

@keyframes drop-68 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-69 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 27%;
  opacity: 0.9287752392;
  transform: rotate(166.31337236deg);
  animation: drop-69 4.9624590789s 0.0425514629s infinite;
}

@keyframes drop-69 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-70 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 62%;
  opacity: 1.1964355907;
  transform: rotate(204.4973562976deg);
  animation: drop-70 4.5835182323s 0.0352273048s infinite;
}

@keyframes drop-70 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-71 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 23%;
  opacity: 0.8023600438;
  transform: rotate(210.5001091321deg);
  animation: drop-71 4.0774295083s 0.5525373272s infinite;
}

@keyframes drop-71 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-72 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 77%;
  opacity: 1.3272744674;
  transform: rotate(50.340309548deg);
  animation: drop-72 4.227273916s 0.3212472554s infinite;
}

@keyframes drop-72 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-73 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 82%;
  opacity: 1.2579971802;
  transform: rotate(29.3055618972deg);
  animation: drop-73 4.9507448849s 0.7008060612s infinite;
}

@keyframes drop-73 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-74 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 17%;
  opacity: 0.7765851562;
  transform: rotate(357.3965136901deg);
  animation: drop-74 4.30078959s 0.7134892966s infinite;
}

@keyframes drop-74 {
  100% {
    top: 110%;
    left: 24%;
  }
}
.confetti-75 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 34%;
  opacity: 0.8897227523;
  transform: rotate(61.0086660366deg);
  animation: drop-75 4.6199568315s 0.2717559262s infinite;
}

@keyframes drop-75 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-76 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 76%;
  opacity: 0.6953056762;
  transform: rotate(131.0811032512deg);
  animation: drop-76 4.2062220983s 0.6495300307s infinite;
}

@keyframes drop-76 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-77 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 80%;
  opacity: 0.6941659064;
  transform: rotate(152.2231154279deg);
  animation: drop-77 4.3990491906s 0.0854766518s infinite;
}

@keyframes drop-77 {
  100% {
    top: 110%;
    left: 82%;
  }
}
.confetti-78 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 58%;
  opacity: 1.3004521452;
  transform: rotate(86.5403252708deg);
  animation: drop-78 4.7654388186s 0.6387026748s infinite;
}

@keyframes drop-78 {
  100% {
    top: 110%;
    left: 64%;
  }
}
.confetti-79 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 94%;
  opacity: 1.3692915297;
  transform: rotate(126.2410550556deg);
  animation: drop-79 4.3036535731s 0.8210906714s infinite;
}

@keyframes drop-79 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-80 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 16%;
  opacity: 1.4870879285;
  transform: rotate(72.4134088278deg);
  animation: drop-80 4.2777211111s 0.4537189008s infinite;
}

@keyframes drop-80 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-81 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 29%;
  opacity: 1.0916442461;
  transform: rotate(329.8638598643deg);
  animation: drop-81 4.3643115911s 0.6066005438s infinite;
}

@keyframes drop-81 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-82 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 40%;
  opacity: 0.7230423118;
  transform: rotate(172.6397642122deg);
  animation: drop-82 4.9280659772s 0.3186330529s infinite;
}

@keyframes drop-82 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-83 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 15%;
  opacity: 0.8492057711;
  transform: rotate(268.2493513532deg);
  animation: drop-83 4.96576608s 0.9851846349s infinite;
}

@keyframes drop-83 {
  100% {
    top: 110%;
    left: 29%;
  }
}
.confetti-84 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 48%;
  opacity: 0.668343881;
  transform: rotate(92.277456607deg);
  animation: drop-84 4.0963686044s 0.3213862234s infinite;
}

@keyframes drop-84 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-85 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 20%;
  opacity: 0.9943972039;
  transform: rotate(141.8145569261deg);
  animation: drop-85 4.498059797s 0.6044905791s infinite;
}

@keyframes drop-85 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-86 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 90%;
  opacity: 1.1628537424;
  transform: rotate(276.5209689689deg);
  animation: drop-86 4.2644192198s 0.1618841506s infinite;
}

@keyframes drop-86 {
  100% {
    top: 110%;
    left: 104%;
  }
}
.confetti-87 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 34%;
  opacity: 1.1499589581;
  transform: rotate(310.0931562207deg);
  animation: drop-87 4.2811411904s 0.1562771441s infinite;
}

@keyframes drop-87 {
  100% {
    top: 110%;
    left: 35%;
  }
}
.confetti-88 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 5%;
  opacity: 0.564735174;
  transform: rotate(18.7160152068deg);
  animation: drop-88 4.95012306s 0.1427694387s infinite;
}

@keyframes drop-88 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-89 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 94%;
  opacity: 1.2917282657;
  transform: rotate(338.0801901662deg);
  animation: drop-89 4.9474812487s 0.9427682104s infinite;
}

@keyframes drop-89 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-90 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 90%;
  opacity: 1.1279643206;
  transform: rotate(308.2821708492deg);
  animation: drop-90 4.6554035974s 0.440090662s infinite;
}

@keyframes drop-90 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-91 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 88%;
  opacity: 0.6945699086;
  transform: rotate(189.8265823624deg);
  animation: drop-91 4.9363104517s 0.1930710488s infinite;
}

@keyframes drop-91 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-92 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 65%;
  opacity: 0.6734498565;
  transform: rotate(67.5101623133deg);
  animation: drop-92 4.2353254707s 0.5989982585s infinite;
}

@keyframes drop-92 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-93 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 32%;
  opacity: 1.3926455824;
  transform: rotate(134.0574815904deg);
  animation: drop-93 4.8491794331s 0.1024577152s infinite;
}

@keyframes drop-93 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-94 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 22%;
  opacity: 0.9186457977;
  transform: rotate(140.7243583378deg);
  animation: drop-94 4.3053846662s 0.0120662642s infinite;
}

@keyframes drop-94 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-95 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 3%;
  opacity: 0.6104091433;
  transform: rotate(338.7241224096deg);
  animation: drop-95 4.8604428996s 0.6968376185s infinite;
}

@keyframes drop-95 {
  100% {
    top: 110%;
    left: 12%;
  }
}
.confetti-96 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 57%;
  opacity: 1.0238729707;
  transform: rotate(178.5156076106deg);
  animation: drop-96 4.3246630039s 0.7523673687s infinite;
}

@keyframes drop-96 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-97 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 89%;
  opacity: 0.6790084634;
  transform: rotate(238.9583432894deg);
  animation: drop-97 4.1686427216s 0.3622417294s infinite;
}

@keyframes drop-97 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.confetti-98 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 48%;
  opacity: 0.6262448934;
  transform: rotate(193.5547793778deg);
  animation: drop-98 4.913066894s 0.8080628732s infinite;
}

@keyframes drop-98 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-99 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 53%;
  opacity: 1.0003043818;
  transform: rotate(138.6021649497deg);
  animation: drop-99 4.3653114732s 0.8879039121s infinite;
}

@keyframes drop-99 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-100 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 28%;
  opacity: 0.6817070414;
  transform: rotate(359.4391061514deg);
  animation: drop-100 4.4600807004s 0.2031751565s infinite;
}

@keyframes drop-100 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-101 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 99%;
  opacity: 1.4593586473;
  transform: rotate(80.0251703323deg);
  animation: drop-101 4.8661379892s 0.1426912257s infinite;
}

@keyframes drop-101 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-102 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 82%;
  opacity: 1.1462432172;
  transform: rotate(183.4205751533deg);
  animation: drop-102 4.9507329261s 0.42439784s infinite;
}

@keyframes drop-102 {
  100% {
    top: 110%;
    left: 85%;
  }
}
.confetti-103 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 80%;
  opacity: 0.5591968869;
  transform: rotate(187.6292843647deg);
  animation: drop-103 4.5658666019s 0.9072573175s infinite;
}

@keyframes drop-103 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-104 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 45%;
  opacity: 1.4023620847;
  transform: rotate(318.0110072609deg);
  animation: drop-104 4.8481128049s 0.7839569987s infinite;
}

@keyframes drop-104 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-105 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 33%;
  opacity: 0.979149874;
  transform: rotate(155.5528415269deg);
  animation: drop-105 4.6222501451s 0.0249669513s infinite;
}

@keyframes drop-105 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-106 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 13%;
  opacity: 0.763458121;
  transform: rotate(313.3881070519deg);
  animation: drop-106 4.6956500037s 0.8448350078s infinite;
}

@keyframes drop-106 {
  100% {
    top: 110%;
    left: 26%;
  }
}
.confetti-107 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 7%;
  opacity: 0.8950295718;
  transform: rotate(41.9772442471deg);
  animation: drop-107 4.2722815561s 0.6832076289s infinite;
}

@keyframes drop-107 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-108 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 75%;
  opacity: 0.6793753186;
  transform: rotate(150.1413787961deg);
  animation: drop-108 4.6660526906s 0.841761123s infinite;
}

@keyframes drop-108 {
  100% {
    top: 110%;
    left: 82%;
  }
}
.confetti-109 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 32%;
  opacity: 0.633661436;
  transform: rotate(315.7755942344deg);
  animation: drop-109 4.5641155629s 0.6997679192s infinite;
}

@keyframes drop-109 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-110 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 37%;
  opacity: 1.0807038599;
  transform: rotate(71.9575388489deg);
  animation: drop-110 4.9519856368s 0.4015820801s infinite;
}

@keyframes drop-110 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-111 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 12%;
  opacity: 0.955545486;
  transform: rotate(162.0085518175deg);
  animation: drop-111 4.6324394524s 0.1801325068s infinite;
}

@keyframes drop-111 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-112 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 50%;
  opacity: 0.8261039989;
  transform: rotate(150.1694463779deg);
  animation: drop-112 4.0368619193s 0.4482319435s infinite;
}

@keyframes drop-112 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-113 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 40%;
  opacity: 0.5217334416;
  transform: rotate(228.0961402151deg);
  animation: drop-113 4.7517385966s 0.7332733692s infinite;
}

@keyframes drop-113 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-114 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 22%;
  opacity: 1.4933013117;
  transform: rotate(322.2590574165deg);
  animation: drop-114 4.4420122403s 0.7679465192s infinite;
}

@keyframes drop-114 {
  100% {
    top: 110%;
    left: 24%;
  }
}
.confetti-115 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 91%;
  opacity: 1.2146723199;
  transform: rotate(352.4033118392deg);
  animation: drop-115 4.2163340426s 0.4396339345s infinite;
}

@keyframes drop-115 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-116 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 72%;
  opacity: 1.3651931578;
  transform: rotate(200.2487308139deg);
  animation: drop-116 4.0601149036s 0.2662697757s infinite;
}

@keyframes drop-116 {
  100% {
    top: 110%;
    left: 81%;
  }
}
.confetti-117 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 13%;
  opacity: 1.2891562819;
  transform: rotate(233.993780269deg);
  animation: drop-117 4.3293561005s 0.3377325108s infinite;
}

@keyframes drop-117 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-118 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 97%;
  opacity: 0.9228811057;
  transform: rotate(200.6894471663deg);
  animation: drop-118 4.0781078269s 0.196925364s infinite;
}

@keyframes drop-118 {
  100% {
    top: 110%;
    left: 109%;
  }
}
.confetti-119 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 77%;
  opacity: 1.0125277485;
  transform: rotate(269.9391057404deg);
  animation: drop-119 4.4199860502s 0.4500197951s infinite;
}

@keyframes drop-119 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-120 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 24%;
  opacity: 1.0358780305;
  transform: rotate(2.7972720487deg);
  animation: drop-120 4.9861222514s 0.3048110844s infinite;
}

@keyframes drop-120 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-121 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 82%;
  opacity: 1.1031510283;
  transform: rotate(305.4500877453deg);
  animation: drop-121 4.5455901366s 0.3330285586s infinite;
}

@keyframes drop-121 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-122 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 38%;
  opacity: 0.748154563;
  transform: rotate(318.7886959041deg);
  animation: drop-122 4.6195408421s 0.1828507571s infinite;
}

@keyframes drop-122 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-123 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 97%;
  opacity: 0.5737276979;
  transform: rotate(336.1180240363deg);
  animation: drop-123 4.6050835137s 0.2638708607s infinite;
}

@keyframes drop-123 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.confetti-124 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 68%;
  opacity: 0.8162092945;
  transform: rotate(195.3803466649deg);
  animation: drop-124 4.3203576245s 0.933680322s infinite;
}

@keyframes drop-124 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-125 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 6%;
  opacity: 0.7947756961;
  transform: rotate(124.1856394408deg);
  animation: drop-125 4.0968166645s 0.2239190907s infinite;
}

@keyframes drop-125 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-126 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 57%;
  opacity: 1.3603398001;
  transform: rotate(15.2843568684deg);
  animation: drop-126 4.1176496488s 0.0995347564s infinite;
}

@keyframes drop-126 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-127 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 45%;
  opacity: 0.9545512423;
  transform: rotate(188.4616593222deg);
  animation: drop-127 4.7066442104s 0.5798635066s infinite;
}

@keyframes drop-127 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-128 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 59%;
  opacity: 1.2981796411;
  transform: rotate(227.5732072242deg);
  animation: drop-128 4.5569711789s 0.8193067308s infinite;
}

@keyframes drop-128 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-129 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 24%;
  opacity: 0.8018465229;
  transform: rotate(124.0258956087deg);
  animation: drop-129 4.3504329085s 0.2617591929s infinite;
}

@keyframes drop-129 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-130 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 17%;
  opacity: 0.8123606134;
  transform: rotate(33.5113749887deg);
  animation: drop-130 4.3676641016s 0.4498933828s infinite;
}

@keyframes drop-130 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-131 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 0.5508021423;
  transform: rotate(231.5574181261deg);
  animation: drop-131 4.4509047096s 0.2484910378s infinite;
}

@keyframes drop-131 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-132 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 17%;
  opacity: 1.3556468055;
  transform: rotate(292.3435021788deg);
  animation: drop-132 4.5959466158s 0.8534750403s infinite;
}

@keyframes drop-132 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-133 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 1.377909707;
  transform: rotate(276.5520230392deg);
  animation: drop-133 4.9572148105s 0.6511487472s infinite;
}

@keyframes drop-133 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-134 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 85%;
  opacity: 1.1756089761;
  transform: rotate(127.8818309611deg);
  animation: drop-134 4.4877448729s 0.6830906314s infinite;
}

@keyframes drop-134 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-135 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 7%;
  opacity: 1.0015305995;
  transform: rotate(203.5885098103deg);
  animation: drop-135 4.3053893291s 0.048594096s infinite;
}

@keyframes drop-135 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-136 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 49%;
  opacity: 0.8983078899;
  transform: rotate(79.3924019933deg);
  animation: drop-136 4.6591362903s 0.9306179876s infinite;
}

@keyframes drop-136 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-137 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 16%;
  opacity: 1.4183555971;
  transform: rotate(91.3103255222deg);
  animation: drop-137 4.3591480181s 0.268804714s infinite;
}

@keyframes drop-137 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-138 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 72%;
  opacity: 0.8179947809;
  transform: rotate(209.1655078427deg);
  animation: drop-138 4.1217795438s 0.007927005s infinite;
}

@keyframes drop-138 {
  100% {
    top: 110%;
    left: 87%;
  }
}
.confetti-139 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 32%;
  opacity: 0.5800894825;
  transform: rotate(22.4737145727deg);
  animation: drop-139 4.081131704s 0.9039048508s infinite;
}

@keyframes drop-139 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-140 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 23%;
  opacity: 0.8431334784;
  transform: rotate(0.9717565808deg);
  animation: drop-140 4.2113211609s 0.4692721733s infinite;
}

@keyframes drop-140 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-141 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 17%;
  opacity: 1.0254814446;
  transform: rotate(112.7143149315deg);
  animation: drop-141 4.013671617s 0.1125854624s infinite;
}

@keyframes drop-141 {
  100% {
    top: 110%;
    left: 22%;
  }
}
.confetti-142 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 18%;
  opacity: 1.2123306792;
  transform: rotate(56.8707744363deg);
  animation: drop-142 4.6161589639s 0.6435198865s infinite;
}

@keyframes drop-142 {
  100% {
    top: 110%;
    left: 24%;
  }
}
.confetti-143 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 32%;
  opacity: 1.1020529595;
  transform: rotate(341.0158328714deg);
  animation: drop-143 4.1639603681s 0.8134952836s infinite;
}

@keyframes drop-143 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-144 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 84%;
  opacity: 0.51319947;
  transform: rotate(254.6431751629deg);
  animation: drop-144 4.8782804416s 0.3534568622s infinite;
}

@keyframes drop-144 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-145 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 92%;
  opacity: 1.1820763798;
  transform: rotate(314.5413557275deg);
  animation: drop-145 4.3608145925s 0.8894194813s infinite;
}

@keyframes drop-145 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-146 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 58%;
  opacity: 0.5979564183;
  transform: rotate(65.1907516232deg);
  animation: drop-146 4.3869494592s 0.8465624554s infinite;
}

@keyframes drop-146 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-147 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 33%;
  opacity: 0.5301280967;
  transform: rotate(136.5446443302deg);
  animation: drop-147 4.5535448692s 0.4346365351s infinite;
}

@keyframes drop-147 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-148 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 65%;
  opacity: 1.4721094311;
  transform: rotate(189.1333783615deg);
  animation: drop-148 4.2842521921s 0.8124018913s infinite;
}

@keyframes drop-148 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-149 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 15%;
  opacity: 0.6953620692;
  transform: rotate(130.3912467939deg);
  animation: drop-149 4.108254368s 0.1691518334s infinite;
}

@keyframes drop-149 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-150 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 61%;
  opacity: 1.3669757441;
  transform: rotate(143.905958027deg);
  animation: drop-150 4.1184790907s 0.850975708s infinite;
}

@keyframes drop-150 {
  100% {
    top: 110%;
    left: 68%;
  }
}


#info{
  padding-top: 100px;
}

